<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let i of displayItems">
      <h2 class="nameLabel">{{ i.first_name }} {{ i.last_name }}</h2>
      <ion-avatar class="picture">
        <img src={{i.avatar}} >
      </ion-avatar>
    </ion-item>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="scrollInfinite($event)" *ngIf="currentPage < totalPage">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
